@page
@model IndexModel
@{
    ViewData["Title"] = "Vet Pets";
}

<div class="text-center">
    <h1 class="display-4">Vet Pets</h1>
    <p>Conoce sobre nuestro servicio de visita domiciliaria</a>.</p>
</div>
